body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #07b6fb;
    padding: 10px 20px;
    border-bottom: 1px solid #000000;
}

main {
    margin-top: 20px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    border: 1px solid #0c0c0c;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: calc(25% - 20px);
    box-sizing: border-box;
}

.product button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.hidden {
    display: none;
}

#shopping-cart {
    margin-top: 20px;
}
